/*page01*/
.page{
  min-height: 100%;
}
header{
  background-color: #587EAC;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 51px;
  height: 51px;
  padding: 0 50px;
}
.subHeader,footer{
  background-color: #233241;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  height: 40px;
  position: relative;
  width: 100%;
}
.panel{
  padding: 5px;
  width: 100%;
  overflow: hidden;
}
.apanel{
  text-decoration: none;
  width: 31%;
  float: left;
  padding: 1%;
  border-bottom: 1px solid #ddd;
  text-align: center;
  color: #000;
}
.apanel:hover{
  text-decoration: none;
  color: #000;
}
.middle{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


/*page02*/
.table{
  padding: 5px;
}
.table ul{
  position: relative;
}
.table ul li{
  border-bottom: 1px dashed #ddd;
  padding: 5px 20px;
}
.lleft,.money{
  display: inline-block;
}
.money{
  font-size: 1.6em;
  margin-left: 130px;
}
.date{
  display: block;
  float: right;
}
.inputMoneyDiv{
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #eee;
  width: 100%;
  padding:0 20px;
}
.inputMoneyDiv input{
  border: none;
}